extends ../layouts/layout.pug
block header
    include ../includes/header.pug
block content
    main
    div(class="container")
        div(class='page-header')
            h2(style="text-decoration:underline") Impressum
    div(class="container")
        p webseite:
            a(href="http://www.shuli-immobilien.de") http://www.shuli-immobilien.de
    div(class="container")
        h4 Betreiber der Webseite
        p Moran Jerochim
        p Alemannenallee 11
        p 14052 Berlin
        p Mobile +49(0)1788107789
        p email: moran.jerochim@gmx.de
        
        
        
    
block scripts
    script
        //include ../ressources/js/index.js