extends ../layouts/layout.pug
block header
    include ../includes/header.pug
block content
    main
        div(class="page-header")
            h1 Neue Hauskosten hinzufügen.
            
        div(class="container")
            form(action="/buildings/"+building_id+"/add_costs" method="POST" id="add_costs_form")
                input(type="hidden" name="building_id" value=building_id)
                div(class="row")
                    div(class="col-md-3")
                        div(class="form-group")
                            label(for="year") Jahr
                            select( class="form-control" id="year" placeholder="z.B. 2018" name="year" required)
                                option 2022
                                option 2021
                                option 2020
                                option 2019
                                option 2018
                                option 2017
                                option 2016
                                option 2015
                                option 2014
                                option 2013
                div(class="row")
                            div(class="col-md-8")
                            div(class="col-md-3")
                            div(class="col-md-1")
                                div(class="form-group")
                                    label(for"add_row_btn") Add
                                    input(type="button" class="btn btn-success add_row_btn" value="Add Row")                
                div(class="house_costs_container")                    
                    div(class="removable" style="display:block")    
                        div(class="row")
                            div(class="col-md-4")
                                div(class="form-group")
                                    label(for="") Titel
                                    select( class="form-control" name="cost_positions[titles][]" required)
                                        option(value="" disabled selected)
                                        each type, index in house_cost_types
                                            option= type.designation
                            div(class="col-md-3")
                                div(class="form-group")
                                    label(for="") Kosten
                                    input(type="text" class="form-control" id="costs" placeholder="z.B. 3600" name="cost_positions[costs][]" required)
                            div(class="col-md-1")
                                div(class="form-check")
                                    label( class="form-check-label") Umlagefähig
                                    input(type="checkbox" class="form-check-input allocatable-ckeckbox" name="cost_positions[allocatable][]" value="1")
                            div(class="col-md-3")
                                div(class="form-group")
                                    label(for="") Verteilerschlüssel
                                    select( class="form-control" name="cost_positions[distributor_key][]" required)
                                        option(value="" disabled selected) 
                                        option(value="total_living_area") Gesamtwohnfläche
                                        option(value="living_area_except_ground_floor") Wohnfläche außer EG
                                        Option(value="number_flats") Anzahl Wohnungen
                                        Option(value="foreign_calculation") Fremdabrechnung
                            div(class="col-md-1")
                                div(class="form-group")
                                    label() Delete
                                    input(type="button" class="btn btn-danger delete_row_btn" value="delete")
                div(class="row")
                            div(class="col-md-8")
                            div(class="col-md-3")
                            div(class="col-md-1")
                                div(class="form-group")
                                    label(for"add_row_btn") Add
                                    input(type="button" class="btn btn-success add_row_btn" value="Add Row")         
                button(type="submit" class="btn btn-primary") Submit
                
            div(class="clonable" style="display:none")    
                div(class="row")
                            div(class="col-md-4")
                                div(class="form-group")
                                    label(for="") Titel
                                    select( class="form-control" name="cost_positions[titles][]" required)
                                        option(value="" disabled selected)
                                        each type, index in house_cost_types
                                            option= type.designation
                            div(class="col-md-3")
                                div(class="form-group")
                                    label(for="") Kosten
                                    input(type="text" class="form-control" id="costs" placeholder="z.B. 3600" name="cost_positions[costs][]" required)
                            div(class="col-md-1")
                                div(class="form-check")
                                    label( class="form-check-label") Umlagefähig
                                    input(type="checkbox" class="form-check-input allocatable-ckeckbox" name="cost_positions[allocatable][]" value="1")
                            div(class="col-md-3")
                                div(class="form-group")
                                    label(for="") Verteilerschlüssel
                                    select( class="form-control" name="cost_positions[distributor_key][]" required)
                                        option(value="" disabled selected) 
                                        option(value="total_living_area") Gesamtwohnfläche
                                        option(value="living_area_except_ground_floor") Wohnfläche außer EG
                                        Option(value="number_flats") Anzahl Wohnungen
                                        Option(value="foreign_calculation") Fremdabrechnung
                            div(class="col-md-1")
                                div(class="form-group")
                                    label() Delete
                                    input(type="button" class="btn btn-danger delete_row_btn" value="delete")

block scripts                       
    script
        include ../../ressources/js/buildings/add_costs.js